
<head>
 <div class="contact-information">
     <a href="https://www.facebook.com/profile.php?id=100029721137785"><i class="fab fa-facebook-square fa-2x"></i></a>
       <a class="trade-m" href="https://www.instagram.com/martinez.mike.01/"><i class="fab fa-instagram fa-2x"></i></a>
     <a class="trade-m" href="https://www.linkedin.com/in/mike-martinez-02228820b/"><i class="fab fa-linkedin fa-2x"></i></a>

 </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

</body>
</html>