

{% include 'header.html'%}
<body >
 <div class="heads">
             <img  class="my_img" src="static/party_168-modified.png" alt="">

      <h1 id="my_name">Mike Martinez</h1> <p id='my_disc'><em>Junior Python developer </em> </p>
 </div>



    <div class="about_me_section">
  <h3><strong>About me </strong></h3>
  <p>I am an entry level self-taught Python developer, looking forward to having my first  job in the field of IT.</p>
  <p>As a former Teacher i have developed through the years  powerful communication skills, as well as a habit of always improving my skills and learn consistently.</p>
</div>


<div class="Education">
   <hr>
    <h3>Education</h3>

    <h5><strong>Bachelor's degree <a href="https://www.aud.edu/">The American Universiy in Dubai </a> faculty of lingustics </strong></h5>
    <h5><strong> <a href="https://www.jcs.k12.oh.us/jacksonhighschool_home.aspx">Jackson City School</a></strong> </h5>

</div>


<div class="work_experience">
    <hr>
    <h3>Work experience</h3>
  <table class="work_table" cellspacing=5>
    <thead>
      <tr>
        <th>Dates</th>
        <th>Employer</th>
      </tr>
    </thead>
    <tr>
      <td>2012-2017</td>
      <td><strong>English Teacher at <a href="https://www.simple.ru/en/">Simple Group in Moscow</a></strong></td>
    </tr>
    <tr>
      <td>2017-2019</td>
      <td><strong>Freelance English Teacher</strong></td>
    </tr>
    <tr>
      <td>2019--</td>
      <td><strong>English Teacher at <a href="https://weplay.tv/">Weplay! holding</a></strong></td>
    </tr>
  </table>

</div>


<div class="tech_skills">
  <hr>
  <h3>Technecial Skills</h3>

      <h5> Python </h5>
      <h5> Flask </h5>
      <h5> Django </h5>
      <h5> CSS </h5>
      <h5> HTML </h5>
    <h5> SQlite </h5>
    <h5> postgresql </h5>

    <hr>
    <h3>language Skills</h3>
    <table cellspacing=5 class="lag_table">
      <thead>
        <tr>
          <th>Language</th>
          <th>Level</th>
        </tr>
      </thead>
      <tr>
        <td>English</td>
        <td>C1</td>
      </tr>
      <tr>
        <td>Russian</td>
        <td>C1</td>
      </tr>
      <tr>
        <td>Arabic</td>
        <td>C1</td>
      </tr>

    </table>

</div>
  {% include 'footer.html' %}


</body>

</html>
